<div class="d-flex justify-content-center">
  <div class="card mt-4" style="max-width: 50vh">
    <div class="row no-gutters">
      <div class="col-md-6">
        <img src="../assets/map.jpg" class="card-img" alt="..." />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Healthy Food</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
            voluptatibus asperiores quo? Debitis non aspernatur ex numquam
            minus. Laboriosam, quo.
          </p>
          <p>Phone: +51 654 9842</p>
        </div>
      </div>
    </div>
  </div>
</div>
