<div class="d-flex justify-content-center">
  <div class="card mt-4" style="max-width: 80vh">
    <div class="row no-gutters">
      <div class="col-md-8">
        <img src="../assets/family.jpg" class="card-img" alt="..." />
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h5 class="card-title">Healthy Food</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis
            molestias, repudiandae cumque fugiat architecto quos omnis placeat
            sit veniam deleniti perspiciatis laborum ex modi quas ducimus soluta
            voluptatem hic blanditiis incidunt? Maiores provident culpa nobis
            debitis quos magni praesentium cumque consectetur quisquam. Rem
            molestiae, vitae eius nesciunt officia eveniet cum. Inventore
            molestiae rerum omnis exercitationem, voluptatibus similique
            delectus. Commodi eveniet modi aspernatur voluptatem nulla, magni,
            doloribus molestias unde iure sint totam corporis iusto ullam atque
            inventore dolores soluta a corrupti!
          </p>
          <p class="card-text">
            <small class="text-date">May 11</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
